@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  font-family: "Sansita Swashed", cursive;
  -youbkit-touch-callout: none; /* Safari iOS */
  -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge e Opera 15+ */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;        /* IE 10+ e Edge */
  user-select: none;            /* Versione senza prefisso,
                                  attualmente supportato da Chrome e Opera */
}
.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 40px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox, .center .logout{
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input, .center .logout input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child, .center .logout:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:valid ~ span,
 .center .inputbox input:hover ~ span{
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="submit"] {
  margin-left: 20%;
  width: 60%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}

.center .inputbox [type="button"] {
  margin-left: 20%;
  width: 60%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}

.center .logout [type="button"] {
  margin-left: 25%;
  width: 50%;
  background: #FF1635;
  color: #fff;
  border: #fff;
}

.center .logout:hover [type="button"] {
  background: linear-gradient(45deg, #FF9900, #FF1635);
}
.center .inputbox:hover [type="submit"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}
