<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Patient Error</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"  th:href="@{/css/login.css}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
<div class="center">
  <b><div th:switch="${message}" align="center">
    <p th:case="'Date'">ERROR: Date format</p>
    <p th:case="'Doc'">ERROR: Slot is already occupied! Visits last 1 hour</p>
    <p th:case="'Box'">ERROR: Structure close! You can only book appointments from 8am to 18pm!</p>
    <p th:case="'Time'">ERROR: Time format</p>
    <p th:case="'Empty'">ERROR: Empty field</p>
    <p th:case="*">ERROR: Generic Error</p>
  </div>
  </b>

<p align="center">
  <a href="doctor?id=99" th:href="@{doctor(id=${doctor})}"> <button>Back to list</button> </a>
</p>
</div>
</body>
</html>