<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Patient Error</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
<div style="box">
  <b><div th:switch="${message}" align="center">
    <p th:case="'Date'">ERROR: Date format</p>
    <p th:case="'Empty'">ERROR: Empty field</p>
    <p th:case="*">ERROR: Generic Error</p>
  </div>
  </b>
</div>

<p align="center">
  <a href="doctor?id=99" th:href="@{doctor(id=${doctor})}"> <button>Back to list</button> </a>
</p>
</body>
</html>