<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Insert Appointment</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"  th:href="@{/css/login.css}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
<div class="center">
<h2>Insert Appointment:</h2>

<form method="post" action="insert_appointment?id=99" th:action="@{insert_appointment(id=${doctor})}">
  <div class="inputbox"> <input type="datetime-local" name="date"><br> </div>
  <div class="inputbox"><input type="text" name="description" value="Description" onfocus="if(this.value==this.defaultValue)this.value=''"><br></div>
  <div class="inputbox"><select name="id_pat">
  <option value=""> Select Patient: </option>
  <option th:each="patient : ${patients}"
          th:value="${patient.getID()}"
          th:text="${patient.getName()} + ' ' + ${patient.getSurname()}"/>
  </select><br>
  </div>
  <div class="inputbox">
    <input type="submit" value="submit">
  </div>
</form>
<div class="inputbox">
  <a href="doctor?id=99" th:href="@{doctor(id=${doctor})}"> <input type="button" value="Show the list"> </a><br>
</div>
  <div class="logout">
    <a href="login"> <input type="button" value="Logout"> </a><br>
  </div>
</div>
</body>
</html>