<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insert Patient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  th:href="@{/css/login.css}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
<div class="center">
<h2>Insert a new Patient:</h2>

<form method="post" action="insert_patient?id=99" th:action="@{insert_patient(id=${doctor})}">
    Name:<input type="text" name="name"><br>
    Surname:<input type="text" name="surname"><br>
    Birth Date: <input type="date" name="date"><br>
    <input type="submit" />
</form>

<a href="doctor?id=99" th:href="@{doctor(id=${doctor})}"> Show the list </a><br>
<a href="login"> Logout </a>
</div>
</body>
</html>

