<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Insert a new Patient:</h1>

<form action="insert_patient" method="post">
    Name:<input type="text" name="name"><br>
    Surname:<input type="text" name="surname"><br>
    Birth Date: <input type="date" name="date"><br>
    <input type="submit" />
</form>

<a href="login"> Logout </a>

</body>
</html>

