<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Edit a patient</h1>

<form action="update_patient?id=99&&id_doc=98" method="post" th:action="@{update_patient(id=${patient.getID(), id_doc=${patient.getDoc()})}">
    Name:<input type="text" name="name" value="John" th:value="${patient.name}"><br>
    Surname:<input type="text" name="surname" value="Smith" th:value="${patient.surname}"><br>
    Date of Birth<input type="date" name="date" value="2022-02-07" th:value="${patient.birthDate}"><br>
    <input type="submit" />
</form>

<a href="doctor?id=99" th:href="@{doctor(id=${patient.getDoc()})}"> Show the list </a>

</body>
</html>