<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Appointment List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"  th:href="@{/css/login.css}">
  <link rel="stylesheet"  th:href="@{/css/login.css}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<body>
<div class="center">
<h1>Detail of appointments:</h1>
<table border="1" align="center">
  <thead>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Doctor</th>
    <th>Patient</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment, stat: ${appointments}" align="center">
    <td th:text="${appointment.date.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm'))}">1970-01-01</td>
    <td th:text="${appointment.description}"> TEST DESC </td>
    <td th:text="${docs[stat.index]}"> 1 </td>
    <td th:text="${pats[stat.index]}"> 1 </td>
  </tr>
  </tbody>
</table>

<a href="admin?id=99" th:href="@{admin(id=${admin.getID()})}"> Admin panel </a>
  <div class="logout">
    <a href="login"> <input type="button" value="Logout"> </a><br>
  </div>
</div>
</body>
</html>