<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users list</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
<h1>Users Details:</h1>
<table border="1" align="center">
  <thead>
  <tr>
    <th>Username</th>
    <th>Role</th>
    <th>User info</th>
  </tr>
  </thead>
  <tbody>
    <tr th:each="user, stat: ${users}">
      <td th:text="${user.username}">tony</td>
      <td th:text="${user.role}"> super </td>
      <td th:text="${ns[stat.index]}"> super </td>
    </tr>
  </tbody>
</table>

<a href="admin?id=99" th:href="@{admin(id=${admin.getID()})}"> Admin panel </a>
<a href="login"> Logout </a>

</body>
</html>