<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MENTCARE</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Profile</h1><br>
<h4 th:text="'Nome: ' + ${profilepatient.name} ">Nome: Luca</h4><br>
<h4 th:text="'Cognome: ' + ${profilepatient.surname} ">Cognome: Mallo</h4><br>
<h4 th:text="'Data di nascita: ' + ${profilepatient.birthDate} ">Data di nascita: 12</h4><br>
<br>
<br>
<a href="profilepatient?id=99" th:href="@{profilepatient(id=${profilepatient.getID()})}"> Profilo </a>
<a href="app_list"> Lista appuntamenti </a>
<a href="login"> Logout </a>
</body>
</html>