<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MVC Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Profile</h1><br>
<h4 th:text="'Name: ' + ${profilepatient.name} ">Name: Luca</h4><br>
<h4 th:text="'Surname: ' + ${profilepatient.surname} ">Surname: Mallo</h4><br>
<h4 th:text="'Age: ' + ${profilepatient.age} ">Età: 12</h4><br>
<br>
<br>
<a href="profilepatient?id=99" th:href="@{profilepatient(id=${profilepatient.getID()})}"> Profilo </a>
<a href="app_list"> Lista appuntamenti </a>
<a href="login"> Logout </a>
</body>
</html>