<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Patient Profile</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet"  th:href="@{/css/login.css}">
</head>

<body>
<div class="center">
<h1>Profile</h1><br>
<h4 th:text="'Nome: ' + ${profilepatient.name} ">Nome: Luca</h4>
<h4 th:text="'Cognome: ' + ${profilepatient.surname} ">Cognome: Mallo</h4>
<h4 th:text="'Data di nascita: ' + ${profilepatient.birthDate} ">Data di nascita: 12</h4>
<br>
<br>
  <div class="inputbox">
    <a href="profilepatient?id=99" th:href="@{profilepatient(id=${profilepatient.getID()})}"> <input type="button" value="Profilo"> </a>
  </div>
  <div class="inputbox">
    <a href="patientapplist?id=99" th:href="@{patientapplist(id=${profilepatient.getID()})}"> <input type="button" value="Lista appuntamenti"> </a>
  </div>
  <div class="logout">
    <a href="login"> <input type="button" value="Logout"> </a>
  </div>
</div>
</body>
</html>