<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>stats db</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"  th:href="@{/css/login.css}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'></head>

<body>
<div class="center">
  <h2>Database Stats</h2>
  Stats report:
  <ul>
    <li th:text="|Users: ${ct_users}|">Users: 0</li>
    <li th:text="|Patients: ${ct_patients}|">Patients: 0</li>
    <li th:text="|Doctors: ${ct_doctors}|">Doctors: 0</li>
    <li th:text="|Appointments: ${ct_appointments}|">Appointments: 0</li>
  </ul>
  <br>
  <div class="inputbox">
    <a href="admin?id=99" th:href="@{admin(id=${admin.getID()})}"> <input type="button" value="Admin panel"> </a>
  </div>
  <div class="logout">
    <a href="login"> <input type="button" value="Logout"> </a><br>
  </div>
</div>
</body>
</html>