<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MENTCARE</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"  th:href="@{/css/login.css}">
</head>

<body>
<div class="center">
<h1 th:text="'Hello Mr ' + ${patient.surname} ">Hello - nomeutente-</h1><br><br>
  <div class="inputbox">
    <a href="profilepatient?id=99" th:href="@{profilepatient(id=${patient.getID()})}"><input type="button" value="Profilo"></a><br>
  </div>
  <div class="inputbox">
    <a href="patientapplist?id=99" th:href="@{patientapplist(id=${patient.getID()})}"><input type="button" value="Lista appuntamenti"> </a><br>
  </div>
  <div class="logout">
    <a href="login"> <input type="button" value="Logout"> </a><br>
</div>
</body>
</html>