<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MENTCARE doctor</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"  th:href="@{/css/login.css}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'></head>

<body>
<div class="center">
<h1 th:text="'Hello Dr. ' + ${doctor.surname} ">Hello</h1>
<h2>Appointments list </h2>
<table name="table_app">
  <thead>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Patient</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="appointment, stat: ${appointments}" name="appointments">
    <td th:text="${appointment.date.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm'))}">1970-01-01</td>
    <td th:text="${appointment.description}"> TEST DESC </td>
    <td th:text="${pats[stat.index]}"> TEST DESC </td>
    <td> <a href="modify_appointment?id_doc=10&&id=11" th:href="@{modify_appointment(id_doc=${appointment.getIdDoctor()}, id=${appointment.getID()})}"> modify </a></td>
    <td> <a href="delete_appointment?id_doc=10&&id=11" th:href="@{delete_appointment(id_doc=${appointment.getIdDoctor()}, id=${appointment.getID()})}"> delete </a></td>
  </tr>
  </tbody>
</table>
  <div class="inputbox">
    <a href="insertapp?id=11" th:href="@{insertapp(id=${doctor.getID()})}"> <input type="button" value="Insert appointment" name="insertAppointment"> </a>
  </div>
<h2> Patients list </h2>
<table name="table_pat">
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Birth date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="patient: ${patients}" name="patients">
    <td th:text="${patient.name}"> Name </td>
    <td th:text="${patient.surname}"> Surname </td>
    <td th:text="${patient.birthDate}"> birth date </td>
    <td> <a href="modify_patient?id_doc=10&&id=11" th:href="@{modify_patient(id_doc=${patient.getDoc()}, id=${patient.getID()})}"> modify </a></td>
    <td> <a href="delete_patient?id_doc=10&&id=11" th:href="@{delete_patient(id_doc=${patient.getDoc()}, id=${patient.getID()})}"> delete </a></td>
  </tr>
  </tbody>
</table>
  <div class="inputbox">
    <a href="insertp?id=99" th:href="@{insertp(id=${doctor.getID()})}"> <input type="button" value="Insert patient" name="insertPatient"> </a><br>
  </div>
  <div class="logout">
    <a href="login"> <input type="button" value="Logout" name="logout"> </a><br>
  </div>
</div>
</body>
</html>